#home-container {
    box-sizing: border-box;
    margin: 8vh auto 0;
    height: 84vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    border-radius: 5px;
    /* background-color: #f3f4ed; */
}
#featured-cocktail-container {
    text-align: center;
    height: auto;
    /* left: 0; */
    width: 80%;
    margin: auto;
    /* background-color: rgba(243, 244, 237, 0.5); */
    box-sizing: border-box;
    padding-bottom: 40px;
}
.cocktail-search-container {
    border-left: 4px solid #c06014;
    background-color: #f3f4ed;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 20%;
    height: 92vh;
    min-width: 240px;
    right: 0;
}

ul {
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

.cocktail-link {
    text-decoration: none;
    color: inherit;
}
.cocktail-search {
    /* margin-top: 20px; */
    width: 80%;
    font-size: 1.2rem;
    padding: 5px;
}
.search-div {
    display: flex;
    justify-content: center;
}