.single-cocktail-div {
    /* border: 2px solid green; */
    width: 80%;
    margin: 12vh auto 4vh;
}
.inner-div {
    /* border: 2px solid red; */
    background-color: #f3f4ed;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 20px 20px;
    color: #424642;
}
.recipe-div {
    /* background-color:lightgrey; */
    box-shadow: 0 0 3px 3px lightgrey;
    text-align: center;
    /* margin-top: 5px; */
    border-radius: 2px;
    width: 40%;
    min-width: 200px;
}

.cocktail-photo {
    width: 60%;
    border-radius: 2px;
    border: 1px solid #424642;
}
#single-cocktail-title {
    border-bottom: 2px solid #c06014;
    margin: 10px auto 20px;
    padding-bottom: 10px;
    width: 70%;
    text-align: center;
}
.cocktail-info {
    margin: 14px;
}
#comment-header {
    margin-top: 0;
    padding-top: 12px;
    margin-bottom: 0;
    border-top: 1px solid #c06014;
    width: 80%;
}
.comments-div {
    border-radius: 2px;
    padding: 15px 10px 0;
    width: 80%;
    /* background-color: #dfdede; */
}
.single-comment-div {
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    width: 90%;
    margin: 0 auto 10px;
    /* margin-bottom: 10px; */
    border-radius: 3px;
    box-shadow: 0 0 2px 2px lightgrey;
}
.single-cocktail-div a {
    color: inherit;
    text-decoration: none;
}
.description-div {
    width: 80%;
    padding-bottom: 8px;
    margin-top: 18px;
}
.description-div li {
    margin-bottom: 8px;
}
.single-comment-div p {
    margin: 0;
}
#comment-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#comment-user {
    font-weight: bold;
    text-underline-offset: 2px;
}
#comment-user:hover {
    text-decoration: underline;
    text-decoration-color: #424642;

}
#comment-content {
    padding-left: 20px;
    padding-top: 5px;
}
#comment-date {
    text-align: right;
    font-size: 0.9rem;
}
#comment-form {
    width: 90%;
    margin:  0 auto;
}
#comment-form button {
    width: 40%;
    height: auto;
    padding: 6px 14px;
    font-size: 1.2em;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #424642;
    background-color: #c06014;
    color: white;
    border-radius: 4px;
}
#comment-form button:hover {
    color: #c06014;
    background-color: white;
    cursor: pointer;
}
#form-comment-add{
    padding: 5px;
    margin: 20px auto 0;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}
.ingredients {
    padding: 0;
    margin: 10px auto 12px;
}
.instructions {
    /* padding: 10px 0 5px 14px; */
    width: 100%;
    margin: 5px;
    text-align: left;
    /* border-bottom: 1px solid black; */
}
#instructions-list {
    margin-top: 8px;
}
#delete-time {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
#delete-time button {
    /* margin-right: 5px; */
    padding: 1px 4px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    color: white;
    background-color: #c06014;
}
#delete-time button:hover {
    cursor: pointer;
    color: white;
    background-color: #d37324;
}

@media screen and (max-width: 600px) {
    .single-cocktail-div {
        width: 100%;
    }
    .inner-div {
        width: 100%;
        padding: 10px 0 0 0;
    }
}