.single-cocktail-div {
    /* border: 2px solid green; */
    width: 80%;
    margin: 12vh auto 4vh;
}
.inner-div {
    /* border: 2px solid red; */
    background-color: #f3f4ed;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.recipe-div {
    background-color:lightgrey;
    text-align: center;
    margin-top:10px;
    border-radius: 2px;
}
.cocktail-photo {
    width: 400px;
    border-radius: 2px;
}
.cocktail-info {
    margin: 5px;
}
.comments-div {
    border: 1px solid black;
    padding: 0 10px;
    width: 90%;
    background-color: grey;
}
.single-comment-div {
    background-color: #f3f4ed;
}
#comment-form {
    width: 70%;
    margin: auto;
}
#comment-form button {
    width: 50%;
    height: 50px;
    font-size: 1.3rem;
    margin: 20px auto;
}
.ingredients {
    padding: 0;
    margin: 5px auto 0;
    width: 80%;
    border-bottom: 1px solid black;
}
.instructions {
    padding: 10px 0;
    width: 100%;
    margin: 5px auto 0;
    border-bottom: 1px solid black;
}