.featured-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner-feature-div {
    height:100%;
    display: flex;
    align-items: center;
}
.featured-div a {
    margin: 0 20px;
    text-decoration: none;
    color: inherit;
    width: 28%;
}
#featured-cocktail-title {
    margin: 0 0 20px 0px; 
    padding: 4px 0;
    width: auto;
    background-color: #f3f4ed;
    font-size: 3rem;
    color: #424642;
    border-bottom: 4px solid #c06014;
}
.img-div{
    /* color: #424642; */
    overflow: hidden;
    padding: 5px 20px 20px 20px;
    border-radius: 5px;
    background-color: #f3f4ed;
    border: 1px solid black;
}
.img-div:hover {

    background-color: #c06014;
}
.img-div:hover h2{
    color: #f3f4ed;
}
.img-div h2 {
    margin: 0 auto 8px;
    color: #424642;
    font-weight: normal;
}

.img-div img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    border-radius: 3px;
    border: 1px solid #424642;
    /* box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4); */
}

.feature-steps {
    text-align: left;
}