#profile-container {
    width: 50%;
    margin: 12vh auto 4vh;
    height: 82vh;
    padding-bottom: 20px;
    background-color:#f3f4ed;
    overflow-y: scroll;
    border-radius: 2px;
}
#content-wrapper {
    padding: 4px;
    width: 80%;
    margin: auto;
    /* background-color: lightgray; */
}
#border-div {
    display: flex;
    border-radius: 10px;
} 
.comment-link {
    text-decoration: none;
    color: inherit;
}
#profile-title {
    text-align: center;
    margin: auto;
    padding: 12px 0;
    color: #424642;
    border-bottom: 2px solid #c06014;
    width: 70%;
}
#profile-container h2 {
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 4px;
}
#profile-container h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    text-decoration: underline;
}
#profile-comments {
    padding-left: 10px;
    width: 100%;
    color: #424642;
    background-color: white;
}
#profile-comments p {
    margin-top: 5px;
    padding-left: 20px;
}
.inner-profile-container {
    width: 90%;
    margin: 5px auto 14px;
    background-color: #424642;
    box-shadow: 0 0 2px 2px lightgray;
}
.inner-profile-container:hover {
    box-shadow: 0 0 2px 2px #c06014;
    
}
.inner-profile-container img {
    width: 100px;
    height: auto;
}

@media screen and (max-width: 600px) {
    #profile-container {
        width: 100vw;
    }
    .inner-profile-container {
        width: 90vw;
        margin: 10px;
    }
}