.outer-cocktail-div {
    border: 2px solid black;
    width: 180px;
    padding: 10px 20px;
    margin: 3px 0px;
    border-radius: 4px;
    /* height: 80px; */
    transition: all .25s ease-out;
    
    background-color: #c06014;
    color: #f3f4ed;
    overflow-y: scroll;
}

.hovered {

    background-color: #f3f4ed;
    color: #c06014;
}

.cocktail-name {
    /* border-bottom: 2px solid black; */
    text-align: center;
    margin: 0px;
    /* padding-bottom: 10px; */
}
img {
    width: 100%;
}
