/* TODO Add site wide styles */

body {
    margin: 0;
    /* padding-top: 95px; */
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1562539586-0cb798252720?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2776&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 8vh;
    background-repeat: no-repeat;
    z-index: -1;
}