#form-div {
    display: flex;
    background-color: #f3f4ed;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: 12vh auto;
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    padding: 10px;
}
input {
    width: 100%;
}

#signup {
    width: 50%;
    margin: auto;
}
.bottom-login-btn {
    margin: auto;
}