nav {  
    color: #424642;
    position: fixed;
    top: 0;
    background-color: #f3f4ed;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0, 0.3);
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0;
}
.bottoms-up {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #c06014;
    left: 40%;
}

ul li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: inherit;
}

.profile-div {
    display: flex;
}
.right-side-nav {
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    width: 30vw;
    min-width: 300px;
    /* border: 2px solid red; */
}
.active {
    font-weight: bold;
}

.nav-page-btn {
    color: #424642;
    background-color: inherit;
    border: none;
    padding: 0;
    font-size: inherit;
}
.nav-page-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #c06014;
} 